[project]
	description = Build scripts for building Spice-enabled QEMU for SmartOS
[access "refs/*"]
	owner = group user/nshalman (nshalman)
[access "refs/for/refs/*"]
	read = group user/nshalman (nshalman)
	push = group user/nshalman (nshalman)
	label-Code-Review = -2..+2 group user/nshalman (nshalman)
	label-Verified = -1..+1 group user/nshalman (nshalman)
	rebase = group user/nshalman (nshalman)
	removeReviewer = group user/nshalman (nshalman)
	submit = group user/nshalman (nshalman)
[access "refs/heads/*"]
	read = group user/nshalman (nshalman)
	create = group user/nshalman (nshalman)
	push = +force group user/nshalman (nshalman)
	pushMerge = group user/nshalman (nshalman)
[access "refs/tags/*"]
	push = +force group user/nshalman (nshalman)
	pushTag = group user/nshalman (nshalman)
	pushSignedTag = group user/nshalman (nshalman)
